[flake8]
ignore = C101, Q000, D403, I201, A005
exclude =
    .git,
    __pycache__,
    venv
filename = *.py
accept-encodings = utf-8
inline-quotes = single
max-complexity = 12
max-linenumber = 500
max-line-length = 150
multiline-quotes = double
per-file-ignores =
    blackshakara/project/settings/templates/settings.dev.py:F821
    blackshakara/project/settings/docker.py:F821
